<ion-content [fullscreen]="true">
  <ion-list class="main">
    <br><br>
    <div class="logo-container fade-in">
      <div class="logo-subtitle">Welcome to</div>
      <div class="logo-title">Doctor Foods</div>
      <div class="quality-text">Quality</div>
    </div>
    <br>
    <ion-list class="spices fade-in"></ion-list>
    <ion-list class="int fade-in">
      <br>
      <span class="ar">Our app brings you:</span>
      <br>
      <ul class="text-list fade-in">
        <ion-list class="mit">
          <li class="fade-in">A wide variety of high-quality spices, sourced to add authenticity and taste to your dishes.</li>
          <li class="fade-in">Fresh and wholesome dry fruit to boost your energy and well-being.</li>
          <li class="fade-in">Easy ordering, reliable delivery, and exclusive offers just for you.</li>
          <li class="fade-in">Join us and transform your kitchen into a haven of taste and health!</li>
        </ion-list>
      </ul>
      
    </ion-list>
    <br>
    <a  class="get-started-button fade-in" (click)="login()">Get Started</a>
  </ion-list>
</ion-content>
